.Splash{
  text-align: center;
  height: 100vh;
  background: url('https://res-3.cloudinary.com/dostuff-media/image/upload//w_1200,q_75,c_limit,f_auto/v1521477298/page-image-2197-3866d2a4-ff1c-4447-84f5-f8686cf62c48.png');
  background-size: cover;
  background-position: center;
  text-decoration: underline;
  text-decoration-color: pink;
  border-bottom: 3px
}

.Splash .text {
	color: white;
	font-weight: 700;
}

.Splash .primary {
	font-size: 5rem;
	padding-top: 12vh;
}

.Splash .secondary {
	font-size: 3rem;
}